<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
    <h1>Create a New Chat Room</h1>
    <form id="create-room-form">
        <button type="submit">Create Room</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        // Create a new chat room and redirect the user to the room page
        const createRoomForm = document.getElementById('create-room-form');
        createRoomForm.addEventListener('submit', e => {
            e.preventDefault();
            socket.emit('createRoom', (roomId) => {
                window.location.href = `/room/${roomId}`;
            });
        });
    </script>
</body>
</html>